<%= render "shared/loader" %>

<%- model_class = Evidence -%>
<div class="row">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">Evidências</h5>
    <ol class="breadcrumbs">
        <li>Cadastros</li>
        <li class="active">Evidências</li>
    </ol>
  </div>
</div>
<br>
<div class="card-panel">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 5%">ID</th>
        <th style="width: 40%">Descrição</th>
        <th style="width: 30%">Comp. Atitudinal</th>
        <th style="width: 15%">Criado em</th>
        <th style="width: 10%">Ações</th>

    </thead>
    <tbody>
      <% @evidences.each do |evidence| %>
        <tr>
          <td><%= link_to evidence.id, evidence_path(evidence) %></td>
          <td><%= evidence.description %></td>
          <td><%= evidence.attitudinal_skill.tipo  %></td>
          <td><%=l evidence.created_at, format: :short %></td>
          <td style="text-align: center">
            <%=link_to "<i class='material-icons'>delete</i>".html_safe, evidence_path(evidence), method: :delete, class: "waves-effect waves-circle btn-floating secondary-content" %>
            <%=link_to "<i class='material-icons'>edit</i>".html_safe, edit_evidence_path(evidence), class: "waves-effect waves-circle btn-floating secondary-content cyan" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_evidence_path,
              :class => 'waves-effect waves-light btn' %>


</div>
