<div class="card-panel">

  <%= form_for @study_unit, :html => { :class => "form-horizontal teacher" } do |f| %>

    <% if @study_unit.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@study_unit.errors.count, "error") %> impedem a unidade de estudo de ser salva:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @study_unit.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :description %>
        <%= f.text_field :description%>
      </div>

      <div class="input-field col s12">
        <%= f.label :course_module_id %>
        <%= f.text_field :course_module_id%>
      </div>
    </div>
    <br>
    <div class="row">
      <%= f.submit nil, :class => 'waves-effect waves-light btn cyan' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                study_units_path, :class => 'waves-effect waves-light btn' %>
    </div>

  <% end %>

</div>
