<div class="card-panel">

  <%= form_for @generating_theme, :html => { :class => "form-horizontal generating_theme" } do |f| %>

    <% if @generating_theme.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@generating_theme.errors.count, "error") %> impedem o tema gerador de ser salvo:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @generating_theme.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :description %>
        <%= f.text_field :description%>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :long_description %>
        <%= f.text_field :long_description%>
      </div>
    </div>

    <br>
    <div class="row">
      <%= f.submit nil, :class => 'waves-effect waves-light btn cyan' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                generating_themes_path, :class => 'waves-effect waves-light btn' %>
    </div>

  <% end %>

</div>
