<%= form_for @activity_sugestion, :html => { :class => "form-horizontal activity_sugestion" } do |f| %>

  <% if @activity_sugestion.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@activity_sugestion.errors.count, "error") %> prohibited this activity_sugestion from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @activity_sugestion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
   <div class="col-lg-10">
      <%= f.text_area :description, cols: 5, rows: 4, :class => 'form-control' %>
    </div>  
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                activity_sugestions_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
