<%- model_class = GeneratingThemeSugestion -%>
<div class="page-header">
  <h1><%=t '.title', :default =>'Sugestão de Temas Geradores' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
     <th style="width: 2%">ID</th>
      <th style="width: 30%">Descrição</th>
      <th style="width: 38%">Descrição Completa</th>
      <th style="width: 15%">Criado em</th>
      <th style="width: 15%">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @generating_theme_sugestions.each do |generating_theme_sugestion| %>
      <tr>
        <td><%= link_to generating_theme_sugestion.id, generating_theme_sugestion_path(generating_theme_sugestion) %></td>
        <td><%= generating_theme_sugestion.description %></td>
        <td><%= generating_theme_sugestion.long_description %></td>
        <td><%=l generating_theme_sugestion.created_at, format: :short%></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_generating_theme_sugestion_path(generating_theme_sugestion), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      generating_theme_sugestion_path(generating_theme_sugestion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_generating_theme_sugestion_path,
            :class => 'btn btn-primary' %>
