<%= render "shared/loader" %>

<%- model_class = Verb -%>
<div class="row">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">Verbos</h5>
    <ol class="breadcrumbs">
        <li>Cadastros</li>
        <li class="active">Verbos</li>
    </ol>
  </div>
</div>
<br>
<div class="card-panel">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 3%"><%= 'ID'%></th>
        <th style="width: 33%"><%= model_class.human_attribute_name(:description) %></th>
        <th style="width: 34%"><%= model_class.human_attribute_name(:category_id) %></th>
        <th style="width: 15%"><%= model_class.human_attribute_name(:created_at) %></th>
        <th style="width: 15%"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @verbs.each do |verb| %>
        <tr>
          <td><%= link_to verb.id, verb_path(verb) %></td>
          <td><%= verb.description %></td>
          <td><%= verb.category.desctipion %></td>
          <td><%=l verb.created_at, format: :short %></td>
          <td style="text-align: center">
            <%=link_to "<i class='material-icons'>delete</i>".html_safe, verb_path(verb), method: :delete, class: "waves-effect waves-circle btn-floating secondary-content" %>
            <%=link_to "<i class='material-icons'>edit</i>".html_safe, edit_verb_path(verb), class: "waves-effect waves-circle btn-floating secondary-content cyan" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_verb_path,
              :class => 'waves-effect waves-light btn' %>

</div>
